{% extends 'main.html' %} {% load static %} {% block content %}
<style>
  .container {
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }

  .container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }

  .container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }

  .content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }

  form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }

  form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }

  .user-details .input-box input:focus,
  .user-details .input-box input:valid {
    border-color: #9b59b6;
  }

  form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
  }

  form .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
  }

  form .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  form .category label .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }

  #dot-1:checked~.category label .one,
  #dot-2:checked~.category label .two,
  #dot-3:checked~.category label .three {
    background: #9b59b6;
    border-color: #d9d9d9;
  }

  form input[type="radio"] {
    display: none;
  }

  form .button {
    height: 45px;
    margin: 35px 0;
  }

  form .button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }

  form .button input:hover {
    /*
  transform:
  scale(0.99);
  */
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }

  @media (max-width: 584px) {
    .container {
      max-width: 100%;
    }

    form .user-details .input-box {
      margin-bottom: 15px;
      width: 100%;
    }

    form .category {
      width: 100%;
    }

    .content form .user-details {
      max-height: 300px;
      overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
      width: 5px;
    }
  }

  @media (max-width: 459px) {
    .container .content .category {
      flex-direction: column;
    }
  }
</style>

<!-- Section Packages Start -->

<div class="container-fluid bg-primary py-5 mb-5 hero-header" style="margin: auto">
  <div class="container py-5">
    <div class="row justify-content-center py-5">
      <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
        <h1 class="display-3 text-white mb-3 animated slideInDown">
          Register As A Guid
        </h1>
        <p class="fs-4 text-white mb-4 animated slideInDown">
          Guiding You Every Step of Your Journey
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Section Packages End -->

<div class="outer-container2">
  <div class="outer-container">
    <div class="container">
      <div class="title">Registration</div>
      <div class="content">
        <form action="guide_register" method="POST">
          {% csrf_token %}
          <div class="user-details">
            <div class="input-box">
              <span class="details">Full Name</span>
              <input type="text" name="name" placeholder="Enter your name" required />
            </div>
            <div class="input-box">
              <span class="details">Aadhar Number</span>
              <input type="number" name="aadhar_num" placeholder="Enter your username" required />
            </div>
            <div class="input-box">
              <span class="details"> Email</span>
              <input type="email" name="email" placeholder="Enter your  email" required />
            </div>
            <div class="input-box">
              <span class="details">Phone Number</span>
              <input type="number" name="phone_number" placeholder="Enter your number" required />
            </div>
            <div class="input-box">
              <span class="details">local Place</span>
              <input type="text" name="place_loc" placeholder="Enter your Local Place" required />
            </div>
            <div class="input-box">
              <span class="details">Age</span>
              <input type="number" name="age" placeholder="Enter your Age" required />
            </div>
            <div class="input-box">
              <span class="details">Date Of Birth</span>
              <input type="date" name="date_of_birth" placeholder="Enter your Date Of Birth" required />
            </div>
            <div class="input-box">
              <span class="details">Years Of Experience</span>
              <input type="number" name="experience_years" placeholder="How many years of Experience you have!!???"
                required />
            </div>
            <div class="input-box">
              <span class="details">Price</span>
              <input type="number" name="price" placeholder="Price!!???" required />
            </div>
            <div class="input-box">
              <span class="details">Description</span>
              <input type="text" name="description" placeholder="Description" required />
            </div>
            <div class="input-box">
              <span class="details">Certificate</span>
              <input type="file" name="certificate" placeholder="Enter your Certificate" required />
            </div>
            <div class="input-box">
              <span class="details">Profile Photo</span>
              <input type="file" name="photo" placeholder="Enter your Profile Photo" required />
            </div>
          </div>
          <div class="gender-details">
            <input type="checkbox" name="gender" id="dot-1" />
            <input type="radio" name="gender" id="dot-2" />
            <input type="radio" name="gender" id="dot-3" />
            <span class="gender-title">Gender</span>
            <div class="category">
              <label for="dot-1">
                <span class="dot one"></span>
                <span class="gender">Male</span>
              </label>
              <label for="dot-2">
                <span class="dot two"></span>
                <span class="gender">Female</span>
              </label>
              <label for="dot-3">
                <span class="dot three"></span>
                <span class="gender">Prefer not to say</span>
              </label>
            </div>
          </div>

          <div class="button">
            <input type="submit" value="Register" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}