{% extends 'main.html' %} {% load static %} {% block content %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

<link href="{% static 'css/style.css' %}" rel="stylesheet" />

<div class="container-fluid bg-primary py-5 mb-5 hero-header">
  <div class="container py-5">
    <div class="row justify-content-center py-5">
      <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Enhance Your Expience</h1>
        <p class="fs-4 text-white mb-4 animated slideInDown">Guiding You Every Step of Your Journey</p>
      </div>
    </div>
  </div>
</div>
<div class="container-xxl py-5" >
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
        <div class="position-relative h-100">
          <img class="img-fluid position-absolute w-100 h-100" src="{% static 'images/about.png' %}" style="border-radius:20px" alt=""
            style="object-fit: cover;" />
        </div>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
        <h6 class="section-title bg-white text-start text-primary pe-3" > About Us</h6>
        <h1 class="mb-4">Welcome to <span class="text-primary">Tourist Gide</span></h1>
        <p class="mb-4">The Verified Local Tourist Guide Platform excels in delivering unforgettable travel experiences
          by rigorously selecting and vetting local guides. This ensures a consistently high standard of service
          excellence. Tourists can immerse themselves in diverse activities and tours, from historical explorations to
          culinary adventures, all enriched by genuine local insights. The platform’s dedication to customer
          satisfaction is evident in its responsive support team, always available to address inquiries and accommodate
          special requests, ensuring every journey is smooth and enjoyable.</p>

        <div class="row gy-2 gx-4 mb-4">
          <div class="col-sm-6">
            <p class="mb-0">
              <i class="fa fa-arrow-right text-primary me-2"></i>State Tours
            </p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0">
              <i class="fa fa-arrow-right text-primary me-2"></i>Safty Guide
            </p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0">
              <i class="fa fa-arrow-right text-primary me-2"></i>Travel Guides
            </p>
          </div>

          <div class="col-sm-6">
            <p class="mb-0">
              <i class="fa fa-arrow-right text-primary me-2"></i>24/7 Service
            </p>
          </div>
        </div>
        {% comment %} <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a> {% endcomment %}
      </div>
    </div>
  </div>
</div>

<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s" >
      <h6 class="section-title bg-white text-center text-primary px-3" style='background-color: #ecf4f7'>Services</h6>
      <h1 class="mb-5">Our Services</h1>
    </div>
    <div class="row g-3" style="gap: 125px;border-radius:20px;" >
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s" >
        <div class="service-item rounded pt-3" >
          <div class="p-4" >
            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
            <h5>State Cities</h5>
            <p>Explore the rich heritage and vibrant culture of various states with our expertly curated State Cities,
              offering unique and immersive experiences tailored to each destination.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item rounded pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-camera text-primary mb-4"></i>
            <h5>Safety Guide</h5>
            <p>Prioritize your well-being with our comprehensive Safety Guide, providing essential tips and guidelines
              to ensure a secure and worry-free travel experience.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item rounded pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-user text-primary mb-4"></i>
            <h5>Travel Guides</h5>
            <p>Enhance your journey with our professional Travel Guides, who bring local expertise and insider knowledge
              to make every trip informative, enjoyable, and unforgettable.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-xxl py-5 destination">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-primary px-3" style='background-color: #ecf4f7'>Destination</h6>
      <h1 class="mb-5">Popular Destination</h1>
    </div>
    <div class="row g-3">
      <div class="col-lg-7 col-md-6">
        <div class="row g-3">
          <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s" >
            <a class="position-relative d-block overflow-hidden" href="">
              <img class="img-fluid" src="{% static 'images/destination-1.jpg' %}" style="border-radius:20px;" alt="" />
              <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">30% OFF</div>
              <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Murdeshwar</div>
            </a>
          </div>
          <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
            <a class="position-relative d-block overflow-hidden" href="">
              <img class="img-fluid" src="{% static 'images/destination-2.jpg' %}" style="border-radius:20px;" alt="" />
              <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">25% OFF</div>
              <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Hampi</div>
            </a>
          </div>
          <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
            <a class="position-relative d-block overflow-hidden" href="">
              <img class="img-fluid" src="{% static 'images/destination-3.jpg' %}" style="border-radius:20px;" alt="" />
              <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">35% OFF</div>
              <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Mysore</div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
        <a class="position-relative d-block h-100 overflow-hidden" href="{% url "bengaluru" %}" style="border-radius:20px;">
          <img class="img-fluid position-absolute w-100 h-100" src="{% static 'images/destination-4.jpg' %}" style="border-radius:20px;" alt=""
            style="object-fit: cover;" />
          <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">20% OFF</div>
          <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Bengaluru</div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-primary px-3" style='background-color: #ecf4f7'>Packages</h6>
      <h1 class="mb-5">Awesome Packages</h1>
    </div>
    <div class="row g-4 justify-content-center">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="package-item">
          <div class="overflow-hidden">
            <img class="img-fluid" src="{% static 'images/destination-4.jpg' %}" style="border-radius:20px;" alt="" />
          </div>
          <div class="d-flex border-bottom">
            <small class="flex-fill text-center border-end py-2"><i
                class="fa fa-map-marker-alt text-primary me-2"></i>Bengaluru</small>
            <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>3
              days</small>
          </div>
          <div class="text-center p-4">
            <h3 class="mb-0">₹1200.00</h3>
            <div class="mb-3">
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
            </div>
            <p>Known as the "Silicon Valley of India," Bengaluru is a vibrant city blending modern innovation with rich
              cultural heritage, featuring lush gardens, bustling markets, and a thriving tech industry, alongside a
              lively arts and music scene.</p>
            <div class="d-flex justify-content-center mb-2">
              <a href="{% url 'bengaluru' %}" style="border-radius:20px;" class="btn btn-sm btn-primary px-3 border-end"
                style="border-radius: 30px 0 0 30px;">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="package-item">
          <div class="overflow-hidden">
            <img class="img-fluid" src="{% static 'images/destination-3.jpg' %}" style="border-radius:20px;" alt="" />
          </div>
          <div class="d-flex border-bottom">
            <small class="flex-fill text-center border-end py-2"><i
                class="fa fa-map-marker-alt text-primary me-2"></i>Mysuru</small>
            <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>3
              days</small>
          </div>
          <div class="text-center p-4">
            <h3 class="mb-0">₹1500.00</h3>
            <div class="mb-3">
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
            </div>
            <p>Famous for its majestic Mysore Palace and the annual Dasara festival, Mysuru offers a glimpse into royal
              heritage, with beautiful gardens, bustling markets, and a rich cultural ambiance, complemented by its
              well-preserved colonial architecture.</p>
            <div class="d-flex justify-content-center mb-2">
              <a href="{% url 'mysuru' %}" style="border-radius:20px;" class="btn btn-sm btn-primary px-3 border-end"
                style="border-radius: 30px 0 0 30px;">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="package-item">
          <div class="overflow-hidden">
            <img class="img-fluid" src="{% static 'images/udupi.jpg' %}" style="border-radius:20px;" alt="" />
          </div>
          <div class="d-flex border-bottom">
            <small class="flex-fill text-center border-end py-2"><i
                class="fa fa-map-marker-alt text-primary me-2"></i>Udupi</small>
            <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>3
              days</small>
          </div>
          <div class="text-center p-4">
            <h3 class="mb-0">₹1800.00</h3>
            <div class="mb-3">
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
              <small class="fa fa-star text-primary"></small>
            </div>
            <p>Renowned for its serene beaches, historic Krishna Temple, and delectable cuisine, Udupi provides a
              perfect mix of spiritual tranquility and coastal charm, attracting pilgrims and tourists alike with its
              warm hospitality and scenic beauty.</p>
            <div class="d-flex justify-content-center mb-2">
              <a href="#" class="btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read
                More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center pb-4 wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-primary px-3" style='background-color: #ecf4f7'>Process</h6>
      <h1 class="mb-5">3 Easy Steps</h1>
    </div>
    <div class="row gy-5 gx-4 justify-content-center">
      <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.1s">
        <div class="position-relative border border-primary pt-5 pb-4 px-4">
          <div
            class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow"
            style="width: 100px; height: 100px;">
            <i class="fa fa-globe fa-3x text-white"></i>
          </div>
          <h5 class="mt-4">Choose A Destination</h5>
          <hr class="w-25 mx-auto bg-primary mb-1" />
          <hr class="w-50 mx-auto bg-primary mt-0" />
          <p class="mb-0">Discover and select from a wide array of captivating destinations tailored to your interests
            and travel goals.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp"  data-wow-delay="0.3s">
        <div class="position-relative border border-primary pt-5 pb-4 px-4">
          <div
            class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow"
            style="width: 100px; height: 100px;">
            <i class="fa fa-dollar-sign fa-3x text-white"></i>
          </div>
          <h5 class="mt-4">Pay Online</h5>
          <hr class="w-25 mx-auto bg-primary mb-1" />
          <hr class="w-50 mx-auto bg-primary mt-0" />
          <p class="mb-0">Enjoy a seamless and secure online payment process, ensuring your booking is confirmed without
            any hassle.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.5s">
        <div class="position-relative border border-primary pt-5 pb-4 px-4">
          <div
            class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow"
            style="width: 100px; height: 100px;">
            <i class="fa fa-user fa-3x text-white"></i>
          </div>
          <h5 class="mt-4">Book A Guide</h5>
          <hr class="w-25 mx-auto bg-primary mb-1" />
          <hr class="w-50 mx-auto bg-primary mt-0" />
          <p class="mb-0">Easily book a knowledgeable local guide to enrich your travel experience with authentic
            insights and personalized tours.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% comment %} <div class="container-l py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-primary px-3" style='background-color: #ecf4f7'>Travel Guide</h6>
      <h1 class="mb-5">Meet Our Guide</h1>
    </div>
    <div class="row g-3" style="gap: 125px;">
      <div class="col-lg-3 col-md-6 wow fadeInUp" style="border-radius: 20px;" data-wow-delay="0.1s">
        <div class="team-item">
          <div class="overflow-hidden">
            <img class="img-fluid" src="images/team-1.jpg" alt="" />
          </div>
          <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
            <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
            <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
          </div>
          <div class="text-center p-4">
            <h5 class="mb-0">V Tushar</h5>
            <small>3 years - 4years of exprience</small>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item">
          <div class="overflow-hidden">
            <img class="img-fluid" src="images/team-3.jpg" alt="" />
          </div>
          <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
            <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
            <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
          </div>
          <div class="text-center p-4">
            <h5 class="mb-0">Barun Aditya JS</h5>
            <small>4 years of exprience</small>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
        <div class="team-item">
          <div class="overflow-hidden">
            <img class="img-fluid" src="{% static 'images/person.jpeg' %}" style="border-radius:20px;" style="width: 920px;" alt="" />
          </div>
          <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
            <a class="btn btn-square mx-1" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-square mx-1" href=""><i class="fab fa-twitter"></i></a>
            <a class="btn btn-square mx-1" href=""><i class="fab fa-instagram"></i></a>
          </div>
          <div class="text-center p-4">
            <h5 class="mb-0">Venu</h5>
            <small>3 years of exprience</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> {% endcomment %}

<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container">
    <div class="text-center">
      <h6 class="section-title bg-white text-center text-primary px-3" style='background-color: #ecf4f7'>Travel Guide</h6>
      <h1 class="mb-5">Meet Our Guide</h1>
    </div>
    <div class="owl-carousel testimonial-carousel position-relative">
      <div class="testimonial-item bg-white text-center border p-4">
        <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="{% static 'images/person.jpeg' %}" 
          style="width: 200px; height: 200px;" />
        <h5 class="mb-0">Venu</h5>
        <p>Karnataka, Bengaluru</p>
        <p style="font-weight: bolder;" class="mb-0">3 years of exprience</p>
      </div>

      <div class="testimonial-item bg-white text-center border p-4">
        <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="{% static 'images/person-2.jpg' %}"
          style="width: 200px; height: 200px;" />
        <h5 class="mb-0">Ukarsh</h5>
        <p>Karnataka, Mysuru</p>
        <p style="font-weight: bolder;" class="mt-2 mb-0">3 - 4 years of exprience</p>
      </div>
      <div class="testimonial-item bg-white text-center border p-4">
        <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="{% static 'images/person-3.jpg' %}"
          style="width: 200px; height: 200px;" />
        <h5 class="mb-0">Archana</h5>
        <p>Karnataka, Hampi</p>
        <p style="font-weight: bolder;" class="mt-2 mb-0">4 years of exprience.</p>
      </div>
    </div>
  </div>
</div>

<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container">
    <div class="text-center">
      <h6 class="section-title bg-white text-center text-primary px-3" style='background-color: #ecf4f7'>Testimonial</h6>
      <h1 class="mb-5">Our Clients Say!!!</h1>
    </div>
    <div class="owl-carousel testimonial-carousel position-relative">
      <div class="testimonial-item bg-white text-center border p-4">
        <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="{% static 'images/team-4.jpg' %}"
          style="width: 200px; height: 200px;" />
        <h5 class="mb-0">V Tushar</h5>
        <p>Karnataka, Bengaluru</p>
        <p class="mb-0">Absolutely fantastic! The app made booking a local guide so easy and our tour was unforgettable.
        </p>
      </div>

      <div class="testimonial-item bg-white text-center border p-4">
        <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="{% static 'images/team-2.jpg' %}"
          style="width: 200px; height: 200px;" />
        <h5 class="mb-0">Barun Aditya JS</h5>
        <p>Karnataka, Udupi</p>
        <p class="mt-2 mb-0">Superb service! The guides were knowledgeable and friendly, making our trip truly special.
        </p>
      </div>
      <div class="testimonial-item bg-white text-center border p-4">
        <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="{% static 'images/team-3.jpg' %}"
          style="width: 200px; height: 200px;" />
        <h5 class="mb-0">CH Poojitha</h5>
        <p>Karnataka, Kolar</p>
        <p class="mt-2 mb-0">This app is a game-changer. Quick, reliable, and connected us with amazing guides who
          enriched our travel experience.</p>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/main.js' %}"></script>
{% endblock content %}